:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.player .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 480px;
    border-bottom: 1px solid #ebebeb;
}

/* HEADER */
header {
    text-align: center;
    border-bottom: 10px;
}

header h4 {
    color: var(--primary-color);
    font-size: 12px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%; /*Xét chiều rộng cho ảnh*/
    padding-bottom: 100%; /* Phải padding top hoặc botom thì ảnh mới hiện ra*/
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
}
.control {
}
.btn {
}
.btn-repeat {
}
.fas {
}
.fa-redo {
}
.btn-prev {
}
.fa-step-backward {
}
.btn-toggle-play {
}
.fa-pause {
}
.icon-pause {
}
.fa-play {
}
.icon-play {
}
.btn-next {
}
.fa-step-forward {
}
.btn-random {
}
.fa-random {
}
.progress {
}
.playlist {
}
.song {
}
.thumb {
}
.body {
}
.title {
}
.author {
}
.option {
}
.fa-ellipsis-h {
}
.btn.btn-repeat {
}
.fas.fa-redo {
}
.btn.btn-prev {
}
.fas.fa-step-backward {
}
.btn.btn-toggle-play {
}
.fas.fa-pause.icon-pause {
}
.fas.fa-play.icon-play {
}
.btn.btn-next {
}
.fas.fa-step-forward {
}
.btn.btn-random {
}
.fas.fa-random {
}
.fas.fa-ellipsis-h {
}
