:root {
    --primary-color: #ec1f55;
    --text-color: #333;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    color: var(--primary-color);
    font-size: 12px;
}

header h2 {
    color: var(--text-color);
    font-size: 20px;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}

.cd-thumb {
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}

/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.progress {
    width: 100%;
    height: 6px;
    -webkit-appearance: none; /*ẩn cái thanh process*/
    background: color #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    /* Css cho cái nút tròn tròn thành hình khác: thumb - ngón tay*/
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* PLAYLIST */
.playlist {
    margin-top: 408px; /* Vì cái dashbroad được fixed nên nó chồi lên trên*/
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.song.active {
    background-color: var(--primary-color);
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}
.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}
.body {
}
.title {
}
.author {
}
.option {
}
.fa-ellipsis-h {
}
.btn.btn-repeat {
}
.fas.fa-redo {
}
.btn.btn-prev {
}
.fas.fa-step-backward {
}
.btn.btn-toggle-play {
}
.fas.fa-pause.icon-pause {
}
.fas.fa-play.icon-play {
}
.btn.btn-next {
}
.fas.fa-step-forward {
}
.btn.btn-random {
}
.fas.fa-random {
}
.fas.fa-ellipsis-h {
}
